<div class="row marketing">
  <form>
    <div class="divWidth">
      <span>Numero de carte :<input id="numero" type="text" class="styleInput"></input></span>
    </div>
    <div class="divWidth">
      <span>Proprietaire :<input id="proprietaire" type="text" class="styleInput"></input></span>
    </div>
    <div class="divWidth">
      <span>Expire le :<input id="expires" type="text" class="styleInput"></input></span>
    </div>
    <div class="divWidth">
      <span>Cryptogramme Visuel :<input id="cryptogramme" type="text" class="styleInput"></input></span>
    </div>
    <div class="marginButton">
      <button id="valider" class="btn btn-primary" type="submit">Valider</button>
    </div>
  </form>
</div>
